.Historylist {
    margin: 20px;
    width: 100%;
}

.historyTable {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.historyTable th {
    border: 1px solid black;
}

.commandTD {
    width: 25%;
    border: 1px solid black;
}

.descriptionTD {
    width: 35%;
    border: 1px solid black;
}

.timeTD {
    width: 40%;
    border: 1px solid black;
}